
<p><strong><%= link_to 'Back', pins_path %></strong><p>
<%= image_tag @pin.image.url %>
<p>
	<div class="container text-center">
		 <p><strong><%= @pin.description %><strong> </p>
		 	<p>
		 	<strong><%= link_to 'Back', pins_path %></strong>
				<%if @pin.user==current_user %>
	 			<%= link_to edit_pin_path(@pin) do%>
        <span class="glyphicon glyphicon-edit"></span> <%="Edit"%>
        <%end%> 
        </p> 
		<%end%>
	</div?
</p>
