
<p><strong><%= link_to 'Back', pins_path %></strong><p>
<%= image_tag @pin.image.url %>
<p>
	<div class="container text-center">
		 <strong><%= @pin.description %><strong> |
		 	<strong><%= link_to 'Back', pins_path %></strong>
		<%if @pin.user==current_user %>
		|
		<%= link_to 'Edit', edit_pin_path(@pin) %>
		<%end%>
	</div?
</p>
